<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Military Home</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl" href="#">Military Living Ratings</a>
            </div>
            <div class="flex-none">
                <button class="btn btn-accent normal-case">Sign Up</button>
            </div>
        </nav>
    </header>
    <main>
        <h1>Military Living Ratings</h1>
        <a class="btn" href="/login">Login</a>
        <a class="btn btn-accent" href="/signup">Sign up</a>
    </main>
</body>
</html>